* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgoldenrodyellow;
}

.input {
  width: 450px;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid burlywood;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.input:focus {
  border: 2px solid burlywood;
}

.primaryBtn {
  padding: 8px 24px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid burlywood;
  cursor: pointer;
  background-color: lightyellow;
}

.primaryBtn:hover {
  background-color: burlywood;
}
.container {
  height: 250px;
  border: 1px solid burlywood;
  overflow-y: auto;
  border-radius: 5px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.item-container:nth-child(n) {
  background-color: lightyellow;
}

.item-container:nth-child(2n) {
  background-color: burlywood;
}

.item-container:hover .btn-horizontal {
  /* background-color: red; */
  display: flex;
}

.horizontal {
  display: flex;
  gap: 10px;
}

.btn-horizontal {
  display: flex;
  gap: 10px;
  display: none;
}

.search {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid burlywood;
  font-size: 14px;
  outline: none;
}

.sortBtn {
  border: 2px solid burlywood;
  cursor: pointer;
  background-color: lightyellow;
}

.sortBtn:hover {
  background-color: burlywood;
}

.clearAll {
  width: 100%;
  padding: 8px;
  background-color: burlywood;
  outline: none;
  border: 1px solid burlywood;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.clearAll:hover {
  background-color: lightyellow;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
